body {
    background-image: url('back-school-decoration-with-pencils-calculator-space_23-2147662344.avif');
    background-size: cover;
    background-attachment: fixed;
}

.center {
    border: 3px solid rgb(0, 0, 0);

    width: 320px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(128, 128, 128, 0.654);
    border-radius: 20px;

}

.h1 {

    color: #a58d8dc3;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.a {

    height: 35px;
    width: 60px;

    margin-right: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: #b2b9b2;
    color: rgb(0, 0, 0);
    border: 2px solid rgba(16, 16, 16, 0.708);
    border-radius: 8px;
    cursor: pointer;


}

.a:hover {
    background-color: #5d5959;
    /* Change background color on hover */
}

.b {

    height: 35px;
    width: 137px;

    margin-right: 10px;
    font-weight: bold;
    font-size: 22px;
    background-color: #8d0f0f;
    color: rgb(255, 255, 255);
    border: 4px solid rgba(0, 0, 0, 0.709);
    border-radius: 8px;
    cursor: pointer;
}

.b:hover {
    background-color: #a05345;
}

.spacing {
    margin-top: 15px;
}

.textsize {
    height: 35px;
    width: 275px;

    margin-right: 10px;
    font-weight: bold;
    font-size: 22px;
    background-color: #8d0f0f;
    color: rgb(255, 255, 255);
    border: 4px solid rgb(3, 3, 3);
    border-radius: 8px;
    cursor: pointer;
}

.textsize:hover {
    background-color: #a05345;
}

.ab {
    height: 35px;
    width: 60px;

    margin-right: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: #033203;
    color: rgb(255, 255, 255);
    border: 2px solid rgba(16, 16, 16, 0.708);
    border-radius: 8px;
    cursor: pointer;
}

.ab:hover {
    background-color: #0c5d10;
}

